<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Node.js express</title>
    <style>
    </style>
</head>

<body>
    <div class="bglogin">
        <div class="loginbox">
            <input class="login" type="text" name="" id="userId" placeholder="아이디"
                style="margin-bottom: 9px; margin-top: 38px;">
            <input class="login" type="password" name="" id="userPw" placeholder="비밀번호">
            <div style="margin-top: 38px;padding-left: 30px;">
                <input type="checkbox" style="width: 20px; height: 20px">
                <span class="saveid">ID 저장하기</span>
            </div>
            <button class="login" onclick="onClickLogin()">
                로그인
            </button>
            <div>

            </div>
        </div>
    </div>
    <div>
        <form action="upload" method="POST" enctype="multipart/form-data">
            <input type="text" name="usertext" />
            <input type="file" name="userfile" />
            <input type="submit"> 
        </form>

    </div>

    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script src="/js/common.js"></script>
    <script src="/js/sha256.js"></script>
    <script>
        $(document).ready(function () {

        });

        function onClickLogin() {
            var userId = $('#userId').val();
            var userPw = $('#userPw').val();

            var valid = true;
            if (userId === '') {
                $('#userId').css('border', '1px solid red');
                valid = false;
            }
            if (userPw === '') {
                $('#userPw').css('border', '1px solid red');
                valid = false;
            }
            if (!valid) return;
            $.ajax({
                url: `${server}/login`,
                type: 'get',
                data: { 'id': userId, 'pw': SHA256(userPw) },
                dataType: "JSON",
                success: function (data) {
                    if (data.result.length === 1) {
                        location.href = "/main"
                    } else {
                        alert('로그인 정보 잘못됨');
                    }
                }
            });

        }
    </script>
</body>

</html>
